{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}CSH PMS{%  endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'members.min.css' %}" />
    <link rel="stylesheet" href="{% static 'custom.css' %}" />
</head>
<body>
    <div class="conatiner">
        <h1>{% block header %}CSH PMS{%  endblock %}</h1>
        {% block content %}
        {% endblock %}
        <hr/>
        <p>
            Development: William Stevens (wasv at csh.rit.edu) <br/>
            Made for: <a href="http://csh.rit.edu/">RIT Computer Science House</a>
        </p>
    </div>
</body>
</html>
