<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}CSH PMS{%  endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'members.min.css' %}" />
</head>
<body>
    <h1>{% block title %}CSH PMS{%  endblock %}</h1>
    {% block content %}
    {% endblock %}
    <hr/>
    <p>
        Development: William Stevens (wasv at csh.rit.edu) <br/>
        Made for: <a href="http://csh.rit.edu/">RIT Computer Science House</a>
    </p>
</body>
</html>
