{% extends "layout.html" %}

{% block title %}
    {{ user.username }} | CSH PMS
{% endblock %}


{% block header %}
    {% if user.first_name and user.last_name %}
        {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
    {% elif user.first_name %}
        {{ user.first_name }} ({{ user.username }})
    {% else %}
        {{ user.username }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% if user.profile.picture %}
            <img class="col-md-2" src="{{ user.profile.picture.url }}"/>
        {% endif %}

        <div class="col-md-4">
        {% if user.profile.bio %}
        <p>{{ user.profile.bio }}</p>
        {% endif %}
        {% if user.profile.website  %}
            <a href="{{ user.profile.website }}">{{ user.profile.website }}</a>
        {% endif %}
        </div>
    </div>

    <h2> Projects </h2>
    <div class="row">
    {% for project in project_list %}
        <div class=" col-xs-12 col-md-6">
            <div class="thumbnail project">
                {% if project.picture %}
                    <div class="thumbnail-img">
                        <img src="{{ project.picture.url }}"/>
                    </div>
                {% endif %}
                <div class="caption">
                    <h3><a title="{{ project.title }}" href="{% url "projectView" project.id %}">{{ project.title }}</a></h3>
                    <p class="description">{{ project.description | truncatechars:60 }}</p>
                    <p>
                        <a class="btn btn-primary" role="button" title="{{ project.title }}" href="{% url "projectView" project.id %}">View Project</a>
                        <span class="pull-right">Updated: {{ project.last_update }}</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
