{% extends "layout.html" %}

{% block title %}
    {{ user.username }} | CSH PMS
{% endblock %}


{% block header %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
    <h2> ({{ user.username }}) </h2>
    {% if user.profile.picture %}
        <img src="{{ user.profile.picture.url }}"/>
    {% endif %}
    <p>{{ user.profile.bio }}</p>
    {% if user.profile.website  %}
        <a href="{{ user.profile.website }}">{{ user.profile.website }}</a>
    {% endif %}

    <h2> Projects </h2>
    <div class="project-list">
    {% for project in project_list %}
        <div class="thumbnail project">
            {% if project.picture %}
                <img src="{{ project.picture.url }}"/>
            {% endif %}
            <div class="caption">
                <h3><a title="{{ project.title }}" href="{% url "projectView" project.id %}">{{ project.title }}</a></h3>
                <p>{{ project.description }}</p>
                <p>
                    <a class="btn btn-primary" role="button" title="{{ project.title }}" href="{% url "projectView" project.id %}">View Project</a>
                </p>
                <div class="pull-right">Updated: {{ project.last_update }}</div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endfor %}
        <div class="clearfix"></div>
    </div>
{% endblock %}
