{% extends "layout.html" %}

{% block title %}
    Your Profile | CSH PMS
{% endblock %}

{% block header %}
    Your Profile
{% endblock %}

{% block content %}
    {% if registered %}
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}

    <form id="user_form" method="post" action="{%  url 'profileCreate' %}"
            enctype="multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Submit" />
    </form>
    {% endif %}
{% endblock %}