{% extends "layout.html" %}

{% block title %}
    Registration | CSH PMS
{% endblock %}

{% block header %}
    Registration
{% endblock %}

{% block content %}
    {% if registered %}
    <strong>Thank you for registering.</strong>
    <a href="{% url 'index' %}">Return to the homepage.</a><br />
    {% else %}
    <strong>Please create your profile.</strong><br />

    <form id="user_form" method="post" action="{%  url 'profileCreate' %}"
            enctype="multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock %}