{% extends "layout.html" %}

{% block title %}
    {{ project.title }} | CSH PMS
{% endblock %}


{% block header %}
    {{ project.title }}
{% endblock %}

{% block content %}
    <div class="row">
    {% if project.picture %}
    <img class="col-md-4" src="{{ project.picture.url }}"/>
    {% endif %}

    <div class="col-md-6">
        <p>{{ project.description }}</p>
        <p>Last Update: {{ project.last_update }}</p>
        {% if project.website  %}
        <p>Official Site: <a href="{{ project.website }}">{{ project.website }}</a></p>
        {% endif %}
        {% if project.website  %}
        <p>Documentation Site: <a href="{{ project.documentation }}">{{ project.documentation }}</a></p>
        {% endif %}
        <p>
            <a class="btn btn-primary" href="{% url 'profileView' project.owner %}">More by {{ project.owner }}</a>
            {% if request.user.profile == project.owner %}
                <a class="btn btn-link" href="{% url 'projectEdit' project.id %}">Edit Project</a>
            {% endif %}
        </p>
        </div>
    </div>


{% endblock %}