{% extends "layout.html" %}

{% block title %}
    {% if page_title %}
        {{ page_title }} | CSH PMS
    {% else %}
        CSH PMS
    {% endif %}
{% endblock %}

{% block header %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        CSH PMS
    {% endif %}
{% endblock %}

{% block content %}
    {% for project in project_list %}
        <div class="project">
            <h2><a title="{{ project.title }}" href="{% url "projectDetail" project.id %}">{{ project.title }}</a></h2>
            <h3>by <a href="{% url 'profileView' project.owner %}">{{ project.owner }}</a></h3>
            <p>{{ project.description }}</p>
            <span>{{ project.last_update }}</span>
        </div>
    {% endfor %}
{% endblock %}