{% extends "layout.html" %}

{% block title %}
    {% if page_title %}
        {{ page_title }} | CSH PMS
    {% endif %}
{% endblock %}

{% block content %}
    {% for project in project_list %}
        <div class="project">
            <h2><a title="{{ project.title }}" href="/project/{{ project.id }}/">{{ project.title }}</a> by {{ project.owner }}</h2>
            <p>{{ project.description }}</p>
            <span>{{ project.last_update }}</span>
        </div>
    {% endfor %}
{% endblock %}