{% extends "layout.html" %}

{% block title %}
    {% if page_title %}
        {{ page_title }} | CSH PMS
    {% else %}
        CSH PMS
    {% endif %}
{% endblock %}

{% block header %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        CSH PMS
    {% endif %}
{% endblock %}

{% block content %}
    {% for project in project_list %}
        <div class="thumbnail">
            <div class="caption">
                <h3><a title="{{ project.title }}" href="{% url "projectDetail" project.id %}">{{ project.title }}</a></h3>
                <p>{{ project.description }}</p>
                <p>
                    <a title="{{ project.title }}" href="{% url "projectDetail" project.id %}">View Project</a>
                    <a class="button" href="{% url 'profileView' project.owner %}"> More by {{ project.owner }}</a>
                    <span class="float-right">{{ project.last_update }}</span>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}